html{
  font-size: 16px;
}

body{
  font-family: "Inter", sans-serif;
  margin: 0;
  color: rgb(46, 46, 46);
}

h1{
  text-align: center;
}

.navbar{
  background-color: #e94b42;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
}

.title {
  color: white;
  font-size: 1.25rem;
}

.logo{
  width: 4rem;
  height: auto;
  margin: 1rem;
}

.main-container {
  display: flex;
  min-height: calc(100vh - 4rem);
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 12rem;
  padding: 1.25rem 2rem;
  box-shadow: 0.06rem 0.06rem 0.6rem #e94b42;
}

.sidebar a {
  text-decoration: none;
  color: #e94b42;
  margin-bottom: 0.75rem;
  font-weight: 500;
}

.recipe-container,
.item-detail {
  margin-left: 2.5rem;
  flex: 1;
}

.recipe-card {
  border: 0.125rem solid #e94b42;
  width: 100%;
  max-width: 44rem;
  padding: 1.25rem;
  display: flex;
  align-items: center;
  margin: 1.25rem auto;
}

.recipe-card a {
  text-decoration: none;
  color: rgb(46, 46, 46);
}

.recipe-image img{
  width: 35%;
  /* max-width: 40rem; */
  height: auto;
  object-fit: cover;
}

.recipe-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 1.25rem;
}

.recipe-content p {
  margin: 0.31rem 0;
}

.low {
  background-color: #c8f7c5; 
  color: #2d7a2d;
  padding: 0.25rem 0.5rem;
  border-radius: 0.40rem;
  font-weight: bold;
  display: inline-block;
}

.high {
  background-color: #ffcccc; 
  color: #b30000;
  padding: 0.25rem 0.5rem;
  border-radius: 0.40rem;
  font-weight: bold;
  display: inline-block;
}

.buttons{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.btn-edit,
.btn-update {
  background-color: white;
  border: 0.025rem solid #e94b42;
  border-radius: 0.31rem;
  color: #e94b42;
  padding: 0.6rem 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.btn-delete,
.btn-add {
  background-color: #e94b42;
  border: none;
  border-radius: 0.31rem;
  color: white;
  padding: 0.6rem 1rem;
  cursor: pointer;
}

.btn-back{
  background-color: white;
  border: 0.025rem solid #e94b42;
  border-radius: 0.31rem;
  color: #e94b42;
  padding: 0.6rem 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.form-add-recipe form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.capitalized {
  text-transform: capitalize;
}

.about-page{
  margin-left: 40px;
}

.footer {
  background-color: #e94b42;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.footer a {
  text-decoration: none;
  color: white;
}