body{
  font-family: "Inter", sans-serif;
  margin: 0;
  color: rgb(46, 46, 46);
}

.navbar{
  background-color: #e94b42;
  display: flex;
  justify-content: start;
  align-items: center;
}

.title {
  color: white;
}

.logo{
  width: 5%;
  height: auto;
  margin: 20px;
}
.main-container {
  display: flex;
}

.item-detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar {
  display: flex;
  flex-direction: column;
  min-height: 700px;
  width: 200px;
  padding: 20px 60px;
  box-shadow: 1px 1px 10px #e94b42;
}

.sidebar a {
  text-decoration: none;
  color: #e94b42;
  margin-bottom: 10px;
  font-weight: 500;
}

.recipe-container {
  margin-left: 40px;
}

.recipe-card {
  border: 2px solid #e94b42;
  width: 700px;
  height: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin: 20px auto;
}

.recipe-card a {
  text-decoration: none;
  color: rgb(46, 46, 46);
}

.recipe-image img{
  width: 250px;
  height: auto;
  object-fit: cover;
}

.recipe-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 20px;
}

.recipe-content p {
  margin: 5px;
}

.low {
  background-color: #c8f7c5; 
  color: #2d7a2d;
  padding: 4px 8px;
  border-radius: 6px;
  font-weight: bold;
  display: inline-block;
}

.high {
  background-color: #ffcccc; 
  color: #b30000;
  padding: 4px 8px;
  border-radius: 6px;
  font-weight: bold;
  display: inline-block;
}

.btn-delete {
   background-color: #e94b42;
   border: none;
   border-radius: 5px;
   color: white;
   padding: 10px;
}
.form-add-recipe{
  display: flex;
  flex-direction: column;
}

.capitalized {
  text-transform: capitalize;
}

.about-page{
  margin-left: 40px;
}

.footer {
  background-color: #e94b42;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.footer a {
  text-decoration: none;
  color: white;
}