html {
  font-size: 16px;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  color: rgb(46, 46, 46);
}

h1 {
  text-align: center;
}

.navbar {
  background-color: #e94b42;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
}

.title {
  color: white;
  font-size: 1.25rem;
}

.logo {
  width: 4rem;
  height: auto;
  margin: 1rem;
}

.main-container {
  display: flex;
  min-height: calc(100vh - 4rem);
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 12rem;
  padding: 1.25rem 2rem;
  box-shadow: 0.06rem 0.06rem 0.6rem #e94b42;
}

.sidebar a {
  text-decoration: none;
  color: #e94b42;
  margin-bottom: 0.75rem;
  font-weight: 500;
}

.recipe-container,
.item-detail,
.about-page {
  margin-left: 2.5rem;
  flex: 1;
}

ol > li,
ul > li {
  line-height: 1.5rem;
}

.link-style {
  text-decoration: none;
  color: #e94b42;
}

.list-horizontal {
  display: flex;
  gap: 0.05rem;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: wrap;
}

.recipe-card {
  /* border: 0.125rem solid #e94b42; */
  max-width: 44rem;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.25rem auto;
}

.recipe-card a {
  text-decoration: none;
  color: rgb(46, 46, 46);
}

.details-image img {
  width: 400px;
  height: 350px;
  object-fit: contain;
  margin: 2rem;
}

.recipe-image img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.card-style {
  display: flex;
  align-items: center;
}

.recipe-content {
  text-align: center;
}

.recipe-content p {
  margin: 0.31rem 0;
}

.low {
  background-color: #c8f7c5;
  color: #2d7a2d;
  padding: 0.25rem 0.5rem;
  border-radius: 0.4rem;
  font-weight: bold;
  display: inline-block;
}

.high {
  background-color: #ffcccc;
  color: #b30000;
  padding: 0.25rem 0.5rem;
  border-radius: 0.4rem;
  font-weight: bold;
  display: inline-block;
}

.buttons {
  max-width: 20rem;
  display: flex;
}

.btn-edit,
.btn-update {
  margin-right: 1rem;
}
.btn-add {
  margin-left: auto;
}

.btn-delete,
.btn-add,
.btn-update {
  background-color: #e94b42;
  border: none;
  border-radius: 0.31rem;
  color: white;
  padding: 0.6rem 1rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
  width: 4.6rem;
  height: 2.4rem;
}

.btn-back,
.btn-edit {
  background-color: white;
  border: 0.025rem solid #e94b42;
  border-radius: 0.31rem;
  color: #e94b42;
  padding: 0.6rem 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  width: 4.6rem;
  height: 2.4rem;
}

.capitalized {
  text-transform: capitalize;
}

.footer {
  background-color: #e94b42;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.footer a {
  text-decoration: none;
  color: white;
}

.form-content {
  display: flex;
}

.form-edit-recipe {
  width: 100%;
  max-width: 55rem;
  max-height: 25rem;
  border: 0.125rem solid #e94b42;
  padding: 1.25rem;
  margin: 1.25rem auto;
}

.recipe-title {
  margin-top: 3rem;
  margin-bottom: 0;
}

.form-add-recipe {
  width: 100%;
  max-width: 35rem;
  border: 0.125rem solid #e94b42;
  padding: 1.25rem;
  margin: 1.25rem auto;
}

.form-add-recipe form,
.form-edit-recipe form {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.form-add-recipe label,
.form-edit-recipe label {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1rem;
}

.form-add-recipe label span,
.form-edit-recipe label span {
  flex: 0 0 5rem;
  text-align: left;
}

.form-add-recipe input,
.form-edit-recipe input {
  justify-items: left;
  padding: 0.6rem 0.75rem;
  font-size: 0.95rem;
  font-family: inherit;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  background-color: #fff;
  flex: 1;
  width: auto;
}

.preview-image {
  width: 400px;
  height: 250px;
  object-fit: contain;
  margin-left: 6rem;
}
